.customText {
  width: 360px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
}
.customText:focus {
  outline: none;
  border: 2px solid #01c466;
}

@media screen and (max-width: 660px) {
  .customText {
    width: auto;
    max-width: 360px;
    padding: 2px;
    word-break: break-all;
  }
}
