.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}
.main form {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.description {
  padding: 1rem;
}
.description h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.description p,
.description li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.description ul {
  padding-left: 2rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #d4d5d3;
  padding-top: 1rem;
}
.submit {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.submit:focus {
  outline: 4px solid #01c46688;
}
